@page
@model Dentistry.WebUI.Pages.AboutUsModel
@{
}


<section class="bg-white dark:bg-gray-900">
    <div class="container mt-4">
        <h2>اطلاعات تماس</h2>

        <div class="mb-4">
            <h4>آدرس:</h4>
            <p>تهران، سعادت آباد، بلوار پاکنژاد (شاهنامه)، قبل از میدان بهرود، خیابان هفدهم، کوچه بیست و یکم پلاک 11</p>
        </div>

        <div class="mb-4">
            <h4>شماره تلفن‌ها:</h4>
            <ul>
                <li>09337176453</li>
                <li>66254905</li>
            </ul>
        </div>

        <div class="mb-4">
            <h4>نقشه:</h4>
            <!-- نقشه گوگل -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3261.573048226324!2d51.36677797480043!3d35.75935345111973!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8d0f57c0227781%3A0xe39ff5d5c602d469!2sTehran%20Saadat%20Abad!5e0!3m2!1sen!2s!4v1674675917781!5m2!1sen!2s"
                    width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>

    </div>
</section>
