@page
@model Dentistry.WebUI.Pages.LoginModel
@{
}

<form method="post">
    <div class="row">
        <div class="col-lg-5">
            <div class="form-group pb-3">
                <label for="UserName" class="pb-1">نام کاربری</label>
                <input type="text" class="form-control" id="UserName" name="UserName" value="@Model.UserName" required />
            </div>
            <div class="form-group pb-3">
                <label for="Password" class="pb-1">رمز عبور</label>
                <input type="password" class="form-control" id="Password" name="Password" value="@Model.Password" required />
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">ورود</button>

</form>
@if (Model.LoginFailed)
{
    <div class="alert alert-danger mt-3">
        نام کاربری یا کلمه عبور نامعتبر می باشد !
    </div>
}
