html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 15px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
@font-face {
    font-family: 'dentistry';
    src: url('../fonts/eot/Yekan.woff') format('woff');
}


body {
  font-family:'dentistry';
}

.footer{
    position:unset !important;
}
a{
    text-decoration:none;
    color:black !important;
}